.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Adjusted to move the form higher */
  min-height: 100vh;
  padding-top: 10vh; /* Added padding to position the form higher */
  background-color: #f0f0f0;
}

.login-page h1 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.login-page form {
  max-width: 400px;
  width: 100%;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.login-page input {
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.password-container {
  position: relative;
  display: flex;
  align-items: center;
}

.password-container input {
  padding-right: 40px;
}

.password-container span {
  position: absolute;
  right: 10px;
  cursor: pointer;
  font-size: 1.25rem;
  color: #888;
}

.login-page button {
  padding: 0.75rem;
  background-color: #007bff;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 1rem;
}

.login-page button:hover {
  background-color: #0056b3;
}

.signup-link {
  margin-top: 1rem;
  text-align: center;
  font-size: 0.9rem;
  color: #666;
}

.signup-link a {
  color: #007bff;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}

.logout-button {
  margin-top: 1rem;
  color: #007bff;
  cursor: pointer;
  text-align: center;
}
.logout-section {
  margin-top: 1rem;
  text-align: center;
}

.logout-message {
  font-size: 1rem;
  color: #666;
  margin-bottom: 0.5rem;
}

.logout-button {
  padding: 0.75rem;
  background-color: #007bff;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.logout-button:hover {
  background-color: #0056b3;
}
.toast-success {
  background-color: #dce7df;
  color: #0d0000;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  max-width: 500px;
  margin: auto;
}

.Toastify__toast--success {
  background-color: transparent;
}

.Toastify__close-button {
  color: #010102;
}

.Toastify__progress-bar--default {
  background: #010102;
}
